body{
  background-color: pink;
}
.output{
  display: none;
}
.container{
  margin: 10%;
  text-align: center;
}
#mercury{
  display: none;
}
#venus{
  display: none;
}
#mars{
  display: none;
}
#jupiter{
  display: none;
}